<div class="global-search">
    <div class="container">
        <h3 class="global-search-title">Search results</h3>
        <form{{ attributes }}>
            {{ children }}
        </form>
        <h5 class="global-search-total">{{total_results}} results found</h5>
    </div>
</div>

