<div class="home-search">
    <div class="container">
        <div class="row">
            <div class="col-md-6 home-search-left">
                {% if elements.lookatmesearchtext %}
                {{ elements.lookatmesearchtext }}
                {% endif %}
            </div>
            <div class="col-md-6 home-search-right">
                {% if elements.lookatmesearchanimation %}
                {{ elements.lookatmesearchanimation }}
                {% endif %}
                {% if elements.home_search_form %}
                {{ elements.home_search_form }}
                {% endif %}
            </div>
        </div>
    </div>
</div>