<div class="site-socials">
    <a href="{{ content.field_linkedin.0['#url'] }}"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="{{ content.field_instagram.0['#url'] }}"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="{{ content.field_twitter.0['#url'] }}"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="{{ content.field_facebook.0['#url'] }}"><i class="fab fa-facebook fa-2x"></i></a>
</div>