<article{{ attributes.addClass('basic-page') }} id="success">
    <div class="container">
        <h1 class="basic-title success-page"><strong>{{ node.title.0.value }}</strong></h1>
        <div class="basic-content success-content">
            {{ content.body }}
             <br>
            <a href="/" class="btn btn-white">RETURN HOME</a>
        </div>
    </div>
</article>