<article{{ attributes.addClass('basic-page') }} id="pageerror">
    <div class="container">
        <h1 class="basic-title error-page"><strong>{{ node.title.0.value }}</strong></h1>
        <div class="basic-content error-content">
            {{ content.body }}
            <br>
            <a href="/contact-us" class="btn btn-white">JOIN THE SEARCH</a>
        </div>

    </div>
</article>