<article{{ attributes.addClass('basic-page') }}>
    <div class="container">
        <h1 class="basic-title"><strong>{{ node.title.0.value }}</strong></h1>
        <div class="basic-content">
            {{ content.body }}
        </div>
    </div>
</article>